.leafa {
    font-style: italic;
    
    font-size: 30px;
    
    
    
    
    position:absolute; 
    padding-left: 50%;
    padding-right: 50%;
}
.body {
    background-color: rgba(0, 0, 0, 0.849);
    
}
.boton {
    border: brown 2px solid; 
    




}
.half {
    position: absolute;
    padding-top: 10%;
    padding-inline-start: 30%;



}

